img {
	width: 100%;
}
body {
    background-color: #00D455;
}

#desc > img {
	width: 100%;
}
@media only screen and (min-width : 320px) {


#desc{
	padding-left:15px;
	padding-right:15px;
	//padding-bottom: 5px;
	background-color: #eee;
}
#map {
    height: 33.3333%;
    width: 100%;
    position: absolute;
}

#sidebar{
	height: 95%;
	background-color: #00D455;
	margin: 5px;
	overflow: scroll;
	position: absolute;
	top: 33.3333%;
}

#sites > div {
	margin-bottom: 3px;
	padding: 5px;
	text-transform: uppercase;
	font-family: "neuzeit-grotesk-condensed", sans-serif;
}

.sites > div {
	background-color: #eee;
	border: 3px solid papayawhip;
}

.mil > div {
	background-color: #b3e4eb;
	border: 3px solid #086d93;
}


.superfund > div{
	background-color: thistle;
	border: 3px solid rebeccapurple;
}

#sites > div :hover {
	background-color: papayawhip;
}

#allSites{
	background-color: papayawhip;
	padding: 5px;
	// width: 100%;
}

#mil{
	background-color: #b3e4eb;
	padding: 5px;
}
#superfund{
	background-color: thistle;
	padding: 5px;
}
}

@media only screen and (min-width : 768px) {
#map {
    height: 100%;
    width: 50%;
    position: absolute;
    order: 2;
}

#sidebar{
	width: 47%;
	min-height: 100%;
	max-height: 100%;
	position: absolute;
	top:0;
	left: 50%;
	margin-left: 15px;
}

}
