---
layout: default
---
 <div class="col-md-12">
    <h1>{{ page.title }}</h1>
    	<div class="col-md-10 col-md-offset-1">
    {% if {{page.imgs}} %}
    <img src="1.jpg" class="img-responsive" />
    {% endif %} 
    {{ content }}
    {% if page.files %}
    <h3 class="download"><a href="{{page.files}}">Download Source Files</a></h3>
    {% endif %}

    {% if page.imgs > 2 %}
    <div class="row">
    {% assign count = {{page.imgs | minus:1 }} %}
    {% for i in (2..{{page.imgs}}) %}
    <div class="col-md-{{ count }}">
    	<img src="{{ i }}.jpg" class="img-responsive">
    </div>
	   {% endfor %}
     {% else %}
      <img src="2.jpg" class="img-responsive">
    {% endif %}
   </div>
</div>
